@font-face {
  font-family: 'locus_sangsang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/locus_sangsang.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
